*{
    margin:0;
    padding:0;
    border:none;
}

body{
    font-family: 'Alegreya Sans';
}



.container{  
    max-width: 1140px;
    padding:16px;
    padding-top:16px;
    position:relative; /* acts as a ref point to positioned elements inside it */
}

/* Header and Nav Styles */

header{
    width:60%;
    float:left;
}

header img{
    max-width:90%;
}

h2{
    font-size:1.2em;
}

nav{
    float:right;
    width:30%;
}

.menu-button{
    text-align: right;
}
    
.main-menu ul{
/*    display:none;*/
    list-style-type: none;
    border: solid 1px #333;
    background-color: #fff;
    width:210px;

    
}
.main-menu li{
    height:36px;
    padding-top:6px;
    border-bottom: solid 1px #333;
    padding-left:1em;
    background-color: #9be7ff;

}

.main-menu li:last-child{ /* targets last list item */
   border-bottom: none;
    margin-bottom:0;
}

.main-menu a{
    text-decoration: none;
    text-transform: uppercase;
}

.menu-nav{
    position:absolute;
    right:16px;
}

/*  Search form **/

.search{
    height:36px;
    padding-top:6px;
    border: solid 1px #333;
    background-color: #9be7ff;
    width:210px;
}

.search input{
    border: solid 1px #333;
    line-height: 2em;
    margin-left:1em;
    padding:3px;

}
/* ******* */


a{
    color:#186898;
}



a:hover{
    color:#bc477b;
}

a:active{
    color:orange;
}

.fluid-image{
    width:100%;
}

p{
    margin-bottom:1em;
    margin-top:1em;
}

h3{
    margin-top:1em;
}


    
/* ***** Desktop styles  **** */

@media(min-width: 768px){
    
     header{
        width:25%;
    }   

     nav{
        width:70%;
    }   

    .menu-button{
        display: none;
    }

    .main-menu ul{
        display:block;
        border: none;
        position:static;
        width:100%;
        text-align: right;
        }

    .main-menu li{
        height:auto;
        padding-top:5px;
        padding-bottom:5px;
        margin-bottom: 0;
        border-bottom: none;
        padding-left:0;
        display: inline-block;
        width:100px;
        margin-left:1px;
        margin-right:0;
        text-align: center;
        background-color: transparent;
        }
    
    .menu-nav{
        position:static;
        display:flex;
        flex-direction: row; /* the default- not necessary to include */
        text-align: right;
    }
    
    .search{
    height:100%;
padding-top:0;
    border: none;
    background-color: transparent;
    width:100%;

    }

    
} /* end of media query */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    